.container {
  padding: 5% 0px;
}
.header {
  font-size: 25px;
  margin-bottom: 2em;
  font-weight: 600;
}
.header span {
  display: block;
}
.content img {
  margin-left: 1em;
  width: 100px;
  display: inline-block;
}
